<!DOCTYPE html>
  <head>
    <title>amir's blog</title>
    <link href="{{ site.url }}/atom.xml" rel="alternate" title="RSS" type="application/rss+xml" />
    <link rel="stylesheet" href="{{ site.url | replace: 'http://', '//' }}/css/reset.css" media="screen, projection" />
    <link rel="stylesheet" href="{{ site.url | replace: 'http://', '//' }}/css/site.css" media="screen, projection" />
    <meta name=viewport content="width=device-width, initial-scale=1">
  </head>
  <body>
    <section id="content">
      {{ content }}
    </section>
  </body>
</html>
