<!DOCTYPE html>
  <head>
    <title>amir's blog</title>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        extensions: ["tex2jax.js"],
        jax: ["input/TeX","output/HTML-CSS"],
        tex2jax: {inlineMath: [["$","$"],["\\(","\\)"]]}
      });
    </script>
    <script type="text/javascript" src="http://gluegadget.com/MathJax/MathJax.js"></script>
    <link href="{{ site.url }}/atom.xml" rel="alternate" title="RSS" type="application/rss+xml" />
    <link rel="stylesheet" href="{{ site.url | replace: 'http://', '//' }}/css/reset.css" media="screen, projection" />
    <link rel="stylesheet" href="{{ site.url | replace: 'http://', '//' }}/css/site.css" media="screen, projection" />
    <meta name=viewport content="width=device-width, initial-scale=1">
  </head>
  <body>
    <section id="content">
      {{ content }}
    </section>
  </body>
</html>
